$one: pink;
$vibrant-orange: rgb(242, 95, 58);
$dark-blue: hsl(228, 39%, 23%);

$dark-greyish-blue: hsl(227, 12%, 61%);
$supersombre-blue: hsl(233, 12%, 13%);
$pale-red: rgb(255, 239, 235);
$grey-white: rgb(250, 250, 250);
